language: node_js

node_js:
  - stable

install:
  - npm install

script:
  - npm test
  - npm run cover
  # Send coverage data to Coveralls after _script: 'cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js'
